{% extends "menu.html" %}

{% block body %}
<div class="sticky">
<h1 id="monie" class="display-4">Monies ${{monies}}</h1>
</div>

{% if post_data|length == 0 %}
<div class="d-flex justify-content-center">
<h1 class="display-4">be the first to post a meme!</h1>
</div>
<div class="d-flex justify-content-center">
<a class="h3" href="{{ url_for('create') }}">click here to get started</a>
</div>
{% endif %}


<div class="container">
<div class="row">
<div class="d-flex justify-content-center">


<div class="col-10">  

{% for post in post_data|reverse %}
	<div class="d-flex justify-content-end" style="padding-top: 5%;">
	<div style="width: 35%;" class="card">
		<div class="card-header">
		{{post.regName}}
		</div>
		<img class="card-img-top" 
		src="{{post.url}}" 
		alt="{{post.memeName}}">
		<div class="card-body">
		<h5 id="{{post.memeName}}price" class="card-title">price: {{post.price}} monies</h5>
		<h5 id="{{post.memeName}}" class="card-title">copies left: {{post.totalShares}}</h5>
		<p class="card-text">{{post.owner}}</p>
		<p id="{{post.memeName}}err" class="text-danger"></p>
		<button class="btn btn-primary btn-block" onclick="handleBuy('{{post.memeName}}')">buy</button>
		</div>
	</div>
	</div>
{% endfor %}
</div>


<div class="col-8">
	<div style="padding-top: 5%; padding-right: 15%;">
	<div class="d-flex justify-content-end">
	{% if portfolio|length == 0 %}
	{% if post_data|length > 0 %}
	<div class="accordion" id="accordionExample">
		<div class="d-flex justify-content-center">
		<div class="card" style="width: 100%;">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
			No memes here yet
			</h2>
		</div>
	
		<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="card-body">
			<div class="d-flex justify-content-around">

				<form method="POST" action="{{url_for('search')}}">
				<div class="field" style="padding-left: 2.5%;">
				<input type="text" class="form-control" name="search" placeholder="search for meme">
				</div>
				<div class="d-flex justify-content-center" style="padding-left: 2.5%;">
					<button type="submit" class="btn btn-primary btn-block">search</button>
				</div>
				</form>
			
			</div>
			</div>
		</div>
		</div>
		</div>
		{% endif %}  
	{% endif %}  

	{% for stonk in portfolio %}
	<div class="accordion" id="accordionExample">
		<div class="d-flex justify-content-center">
		<div class="card" style="width: 100%;">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
			<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				{{stonk.stonkInfo.regName}}
			</button>
			</h2>
		</div>
	
		<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
			<div class="card-body">
			<div class="d-flex justify-content-around">
			<div >
			<p class="lead">amount: {{stonk.stonkInfo.amount}}</p>
			</div>
			<form method=POST action="{{ url_for('index_sell', meme_name=stonk.stonkInfo.stonkName) }}">
				<div class="field" style="padding-left: 2.5%;">
					<input type="text" class="form-control" name="amount" placeholder="enter amount to sell">
				</div>
				<br>
				<div class="d-flex justify-content-center" style="padding-left: 2.5%;">
				<button type="submit" class="btn btn-primary btn-block">sell</button>
				</div>
			</form>

			<div style="padding-left: 2.5%;">
			<p class="lead">price: {{stonk.stonkInfo.stonkPrice}}</p>
			</div>
			</div>
			</div>
		</div>
		</div>
		</div>
	{% endfor %}





	</div>
	</div>
</div>






</div>
</div>
</div>



<script>
const handleBuy = async (memeName) => {
	//alert(memeName)
	const res = await fetch('/buy/'+memeName)
	const data = await res.json()
	const post = data.postToUpdate
	console.log(post.totalShares)
	if(post.totalShares > 0){
	document.getElementById(post.memeName).innerHTML = "copies left: " + post.totalShares;
	} else {
	document.getElementById(post.memeName).innerHTML = "copies left: sold out";
	}
	if(data.message.length > 0){
	document.getElementById(post.memeName+"err").innerHTML = data.message;
	}
	if(data.monies > -1){
	document.getElementById("monie").innerHTML = "monies: " + data.monies;
	}

}



const changePrice = async (memeName) => {
	const res = await fetch('/changePrice')
	const data = await res.json()
	const posts = data.allPosts
	for(let post of posts) {
	document.getElementById(post.memeName+"price").innerHTML = "price: " + post.price + " monies"
	}
}

setInterval(() => changePrice(), 1000*60*5.5);

</script>
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}