<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <title>stonks</title>
        <link rel="icon" href="https://i.redd.it/jwg3gw87s6b41.png">

    </head>
    <h1>Our Privacy Policy</h1>
    <h2>1. Introduction</h2>
    <p>
        Stonks is a website that allows users to publish pictures to our site and “invest” in those pictures with a fake currency called “monies”.
    </p>
    <p>
        This Privacy Policy applies whenever you use our services for “stonks.herokuapp.com”. The Privacy Policy also entails the following:
    </p>
    <ul>
        <li>
            What information we collect
        </li>
        <li>
            How we use the information
        </li>
        <li>
            Who can use our website
        </li>
    </ul>
    <h2>2. Information we collect and use</h2>
    <p>
        We use your Personal Information only for providing and improving the Site.
    </p>
    <p> By using the site, site meaning “stonks.herokuapp.com”, you agree to the collection and use of information in accordance with this policy. </p>
    <p>Information You Provide For us: username you create when using the site, password to protect your account, pictures you publish on the site, date of birth to confirm you are 13+</p>
    <p>Information that is always collected: cookies so the site can identify that you are logged in when using</p>
    <h2>3. How we use your data</h2>
    <p>We use your birthday to know that you are 13+ and meet age requirements to use the site safely, but will never store it</p>
    <p>We display the content you post for others to see publicly</p>
    <p>Display your username for others to see</p>
    <p>We do not and will not sell your information to third party services or advertisers</p>
    <h2>4. Contact</h2>
    <p>When you email us, we use your email to reply back and thank you for your question or concern. 
    </p>
    <p>After the first reply, we will not use your email to send you spam mail, or any unauthorized message. 
    </p>
    <p>We will not share the email exchange with anyone and or sell any information you provide
    </p>
    <h2>5. Community Guidelines</h2>
    <p>A post cannot display nudity or offensively/menacingly target a specific group or anything threatening</p>
    <p>We can revise and delete a post that violates these guidelines
    </p>
    <h2>6. Cookies</h2>
    <p>What are cookies? Cookies are downloaded information to your computer or mobile phone
    </p>
    <h5>Required Cookies</h5>
    <p>We use a session cookie in order to check whether or not you are logged in our site or not.
    </p>
    <h2>7. Future Updates to this Privacy Policy</h2>
    <p>Please note that we can update this privacy policy at any time. You will be notified if we do so. You will be notified 30 days prior to the changes taking effect.
    </p>





















</html>